{{- $shortTitle := .Params.short_title | default (index .Params "short-title") | default .Title -}}
<nav class="site-header__inner" role="navigation" aria-label="{{ if .IsHome }}Home{{ else }}Page{{ end }}">
  {{ if .IsHome }}
    <a class="site-header__brand" href="{{ .Site.Home.RelPermalink }}">
      <img class="site-header__logo" src="{{ "/images/logo-mark.svg" | relURL }}" width="24" height="24" alt="{{ .Site.Title }}">
      <span class="site-header__name h5 fw3">{{ .Site.Title }}</span>
    </a>
  {{ else }}
    <a class="site-header__back" href="{{ .Site.Home.RelPermalink }}">
      <img class="site-header__back-icon" src="{{ "/images/icon-arrow-left.svg" | relURL }}" width="18" height="14" alt="">
      <span class="site-header__back-label h5 fw5">{{ $shortTitle }}</span>
    </a>
  {{ end }}
</nav>
