<footer class="footer bg-tertiary bottom-0 w-100 pa3" role="contentinfo">
  <nav class="flex flex-wrap justify-center" aria-label="Kyle Becker profile links">
    <a class="text-secondary no-underline underline-hover pv2 ph3 mh1" href="https://www.linkedin.com/in/kyle-becker-44132223/" rel="me" aria-label="Kyle Becker on LinkedIn">LinkedIn</a>
    <a class="text-secondary no-underline underline-hover pv2 ph3 mh1" href="https://github.com/gnefkow" rel="me" aria-label="Kyle Becker on GitHub">GitHub</a>
    <a class="text-secondary no-underline underline-hover pv2 ph3 mh1" href="http://photography.gnefkow.com/" rel="me" aria-label="Kyle Becker's Photography Portfolio">Photography</a>
    <a class="text-secondary no-underline underline-hover pv2 ph3 mh1" href="https://knowledgeinsociety.com/" rel="me" aria-label="Kyle Becker's Personal Blog about philosophical insights and reflections in design">Blog</a>
  </nav>
</footer>
