{{/* Returns published experience index records (dicts) in display order. */}}
{{- $section := site.GetPage "section" "experiences" -}}
{{- $ordered := slice -}}
{{- if $section -}}
  {{- $pages := where $section.Pages "Params.status" "published" -}}
  {{- $byID := dict -}}
  {{- range $pages -}}
    {{- $id := .Params.id | default .File.ContentBaseName -}}
    {{- $byID = merge $byID (dict $id .) -}}
  {{- end -}}

  {{- $seen := dict -}}
  {{- with site.Data.profile.experience_order.order -}}
    {{- range . -}}
      {{- $id := . -}}
      {{- with index $byID $id -}}
        {{- $ordered = $ordered | append . -}}
        {{- $seen = merge $seen (dict $id true) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- $rest := slice -}}
  {{- range $pages -}}
    {{- $id := .Params.id | default .File.ContentBaseName -}}
    {{- if not (index $seen $id) -}}
      {{- $rest = $rest | append . -}}
    {{- end -}}
  {{- end -}}
  {{- $rest = sort $rest "Params.start_year" "desc" -}}
  {{- range $rest -}}
    {{- $ordered = $ordered | append . -}}
  {{- end -}}
{{- end -}}

{{- $records := slice -}}
{{- range $ordered -}}
  {{- $records = $records | append (partial "func/experience-index-record.html" .) -}}
{{- end -}}
{{- return $records -}}
