{{ define "main" }}
  <article class="nested-copy-line-height">
    <div class="page-gutter pv3 pv4-l">
      <section class="cf f4 tc-l center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "text-secondary" }}">
        {{- .Content -}}
      </section>
    </div>
    <div class="page-gutter">
      <section class="flex-ns mt5 flex-wrap justify-around">
        {{ range .Paginator.Pages }}
          <div class="w-100 w-30-l mb4 relative bg-primary">
            {{ .Render "summary" }}
          </div>
        {{ end }}
      </section>{{/* former internal template */}}
      {{ partial "pagination.html" . -}}
    </div>
  </article>
{{ end }}
