{{ define "main" }}
  <article class="nested-copy-line-height">
    <div class="page-gutter pv3 pv4-l">
      <div class="measure-wide center f4 lh-copy nested-copy-line-height nested-links {{ $.Param "text_color" | compare.Default "text-secondary" }}">
        <p>{{ lang.Translate "taxonomyPageList" . }}</p>
      </div>
    </div>
    <div class="page-gutter">
      <div class="measure-wide center">
        <div class="featured-block cf text-primary mt5">
          <ul class="featured-block__list list pl0 mt0 mb0">
            {{ range .Pages }}
              {{ .Render "summary" }}
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </article>
{{ end }}
